load("@atom//bzl/atom:defs.bzl", "atom_app")

atom_app(
    name = "{{ project_name }}",
    crate_name = "{{ project_name }}",
    app_name = "{{ project_display_name }}",
    ios_bundle_id = "{{ project_app_id }}",
    ios_deployment_target = "18.0",
    android_application_id = "{{ project_app_id }}",
    android_min_sdk = 24,
    android_target_sdk = 35,
    modules = [],
    config_plugins = [],
    deps = [
        "@atom//crates/atom-runtime",
    ],
    visibility = ["//visibility:public"],
)
