package {{ package_name }}

object AtomBindings {
    val modules: List<String> = listOf(
{% for module_id in module_ids %}
        "{{ module_id }}",
{% endfor %}
    )

    val moduleSummary: String
        get() = modules.joinToString(separator = ", ")
}
