{% for path in schema_includes %}
include "{{ path }}";
{% endfor %}
{% if schema_includes %}

{% endif %}
namespace atom;

table AtomAppConfig {
  name: string;
  slug: string;
  entry_target: string;
}
